html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

img {
  position: absolute;
  top: 4096px;
}

#display {
  image-rendering: pixelated;
  height: calc(100% - 2px);
  border: 1px solid white;
  
  background-color: black;
}

#output {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 100%;
}

p {
  color: green;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: monospace;
  padding: 0;
  margin: 0;
}
